body
{
    margin: 0;
}

.parallax1
{
    background-image: url("solarsystem.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
}

.parallax2
{
    background-image: url("wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
}

.block
{
    min-height: 500px;
    background-image: url("particles.jpeg");
    color: #ffffff;
    background-color: #ffffff;
    font-size: 36px;
    padding: 10px;
}